#main
  .iphone
    .steel_band
      .mute_rocker
      .volume.up
      .volume.down
      .sleep_wake
      .plastic_band
        .glass_face
          .camera
          .speaker
          .home_button
          .gloss
          .screen
            .stage