@mixin button($bg, $color, $size) {
  background-color: $bg;
  color: $color;
  @if ($size == "large") {
    font-size: 2em;
    padding: 2em;
  } @else if ($size == "medium") {
    font-size: 1.5em;
    padding: 1.5em;
  } @else {
    font-size: 1em;
    padding: 1em;
  }
}

$red: red;