body {
  padding: 20px;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 100px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin: 10px;
}
.smooth {
  transform: rotate(360deg);
}
