/* pseudo element as background-size */

* {
	margin: 0;
	padding: 0;
}
p {
    position: relative;
    height: 400px;
    font-size: 100px;
    color: red;
}
p:before {
    content: url(http://watduck.jpg.to);
    top:0; left: 0; right: 0;
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
}​
