.menu {
  border: 1px solid #000;
}

#topnav {
  text-decoration: underline;
}

.roundedcorners (color:red) {
  *border-radius: =radius;
  border-color: =color;
}

.special {
  color: =color;
}

#menu {
  .menu;
  #topnav;
  .roundedcorners|radius: 4px;

  .special {
    .roundedcorners|radius: =maxradius;
    font-weight: bold;
  }
}
