Options +ExecCGI
AddHandler perl-script cgi
PerlResponseHandler ModPerl::Registry
PerlOptions +ParseHeaders

RewriteEngine on
RewriteCond %{ENV:REDIRECT_REDIRECT_INTERNAL_ROUTING} !yes
RewriteRule .* routing.cgi [L,E=INTERNAL_ROUTING:yes]

## So, this .htaccess file first redirects all requests to one script 
## called "routing.cgi". It also sets an environment variable called 
## "INTERNAL_ROUTING". Owing to the mod_rewrite redirect, Apache
## "kindly" renames the environment variable immediately to
## "REDIRECT_INTERNAL_ROUTING". 

## The purpose of this environment variable is to prevent infinite 
## recursion if inside of routing.cgi I tell Apache to 
## silently/internally redirect to another file like a .html file. 
## Note: such a redirect will actually be the *second* redirect in 
## the current scope, the first being from mod_rewrite.

## The really amusing part is that the filter to prevent the recursion
## has to inspect an environment variable called 
## "REDIRECT_REDIRECT_INTERNAL_ROUTING", with 2x the "REDIRECT_"
## being prepended, since Apache "sees" two redirects. Ridiculous.