html {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.25), hsla(0, 0%, 0%, 0));
  height: 100%;
}
.loader {
  animation: load 1s linear infinite;
  border: 0.5em solid #555;
  border-radius: 100%;
  display: block;
  height: 2em;
  left: 50%;
  margin: -1.5em;
  position: absolute;
  top: 50%;
  width: 2em;
}
.loader:after {
  border: 0.5em solid #6cf;
  border-radius: 100%;
  bottom: 0.25em;
  content: "";
  left: 0.25em;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}
.loader:before {
  border-bottom: 1em solid #6cf;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -0.7em;
  position: absolute;
  top: -0.25em;
  width: 0;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
