/*
	White space and Whitespace
*/

div {
  margin: 0 0 10px 0;
  border: 1px solid red;
  width: 100px;
}

body {
  background: black;
  padding: 40px 20px;
  color: white;
}
h2 {
  font-size: 12px;
  margin: 10px 0 0 0;
  color: red;
}
