%div.container
  %div.header
    %a.icon-remove-sign
  %div.inner
    %div.btn-group
      %a.icon-cog.btn
      %a.icon-signal.btn.active
      %a.icon-map-marker.btn
      %a.icon-volume-up.btn
    %a.btn
      %i.icon-signal
      BT Openzone
      %i.icon-caret-down
    %a.btn Network Preferences&hellip;