
.holder {
  position: relative;
  width: 215px;
  height: 215px;
  margin: 20px;
  z-index: 999;
  cursor: pointer;
}
.h1 {
  background: url(http://picbox.im/image/209a643d3d-1.png);
  width: 210px;
  height: 86px;
  position: absolute;
  z-index:10;
}
.h2 {
  background: url(http://picbox.im/image/29ce86daf0-g.png);
  width: 181px;
  height: 92px;
  position: absolute;
  z-index: 20;
  top: 90px;
  left: 14px;
  transition: all 1s ease-in-out;
}
.h3 {
  background: url(http://picbox.im/image/87659c6f06-2.png);
  width: 210px;
  height: 174px;
  position: absolute;
  z-index:30;
  top: 37px;
}
.holder:hover .h2 {
   top: -5px;
}
