.asdf,
.asdf2 {
  opacity: 1;
  animation: pi-fadein 0.5s ease 3s forwards; }

.my-module {
  opacity: 1;
  opacity: 1;
  opacity: 1;
  opacity:   opacity: 1; }

.asdfasdf {
  content: 'inactive';
  color: black; }
